In [7]:
# Filtering out the warnings
import warnings

warnings.filterwarnings('ignore')
import pandas as pd

In [8]:
tweets_df = pd.read_csv('tweets (3).csv',encoding='ISO-8859-1')
tweets_df

                 created_at                                               text
0       01/31/2023-00:26:52  chroniclove69 onlyfans leaks (13 photos)\n\nTi...
1       01/31/2023-00:30:53  RT @RollbitRewards: $250 #Giveaway ðð\n\...
2       01/31/2023-00:31:53  RT @Ashcryptoreal: Bitcoin needs to close abov...
3       01/31/2023-00:32:23  RT @MacnBTC: You won't make lifechanging money...
4       01/31/2023-00:35:54  ðNew Verified Airdropâ
\n(65% Legit Airdro...
...                     ...                                                ...
285412  06/06/2023-02:00:17  RT @realSmarDex: ð¤¯ 0.2 BTC to win! \n\nDoub...
285413  06/06/2023-02:00:47  ð At this rate, I'll be retired next month!...
285414  06/06/2023-02:01:17  ðð° Don't miss this one like you missed $...
285415  06/06/2023-02:01:48  ððª On top with $PSYOP, now #FF6000. Aird...
285416  06/06/2023-02:02:18  RT @bitcoin_clown: What kind of narcissist one...

[285417 rows x 2 columns]

In [9]:
from datetime import datetime, timedelta

# Function to round time to the nearest hour based on minutes
def round_to_nearest_hour(created_at):
    # Parse the created_at string into a datetime object
    dt = datetime.strptime(created_at, '%m/%d/%Y-%H:%M:%S')
    # Round down if minutes < 30, else round up to the next hour
    if dt.minute < 30:
        rounded = dt.replace(minute=0, second=0)
    else:
        rounded = (dt + timedelta(hours=1)).replace(minute=0, second=0)
    # Format back to the desired string format
    return rounded.strftime('%m/%d/%Y-%H:%M')

# Apply the rounding function and create a new column
tweets_df['rounded_time'] = tweets_df['created_at'].apply(round_to_nearest_hour)

# Create a new table with the relevant columns
rounded_time_df = tweets_df[['created_at', 'rounded_time']]

# Display the new table to the user
import ace_tools as tools; tools.display_dataframe_to_user(name="Rounded Time Table", dataframe=rounded_time_df)

ValueError: time data 'Coin: $ETX50' does not match format '%m/%d/%Y-%H:%M:%S'

In [10]:
# Inspect unique values in the 'created_at' column to identify problematic entries
unique_created_at_values = tweets_df['created_at'].unique()

# Display the unique values to understand the problem
unique_created_at_values[:20]  # Display the first 20 unique values to keep it manageable

array(['01/31/2023-00:26:52', '01/31/2023-00:30:53',
       '01/31/2023-00:31:53', '01/31/2023-00:32:23',
       '01/31/2023-00:35:54', '01/31/2023-00:36:24',
       '01/31/2023-00:42:55', '01/31/2023-00:43:25',
       '01/31/2023-00:46:56', '01/31/2023-00:49:57',
       '01/31/2023-00:53:57', '01/31/2023-00:54:28',
       '01/31/2023-00:58:28', '01/31/2023-01:03:30',
       '01/31/2023-01:04:00', '01/31/2023-01:05:00',
       '01/31/2023-01:06:30', '01/31/2023-01:07:00',
       '01/31/2023-01:08:00', '01/31/2023-01:13:31'], dtype=object)

In [12]:
# Function to check if a string is a valid datetime in the expected format
def is_valid_datetime(date_str, format='%m/%d/%Y-%H:%M:%S'):
    try:
        datetime.strptime(date_str, format)
        return True
    except ValueError:
        return False

# Filter the dataframe to keep only rows with valid datetime strings
valid_tweets_df = tweets_df[tweets_df['created_at'].apply(is_valid_datetime)]

# Apply the rounding function to valid rows
valid_tweets_df['rounded_time'] = valid_tweets_df['created_at'].apply(round_to_nearest_hour)

# Create a new table with the relevant columns
rounded_time_df = valid_tweets_df[['created_at', 'rounded_time']]
tweets_df['created_at'] = tweets_df['created_at'].astype(str)
valid_tweets_df = tweets_df[tweets_df['created_at'].apply(is_valid_datetime)]

# Apply the rounding function to valid rows
valid_tweets_df['rounded_time'] = valid_tweets_df['created_at'].apply(round_to_nearest_hour)

# Create a new table with the relevant columns
rounded_time_df = valid_tweets_df[['created_at', 'rounded_time']]

rounded_time_df

TypeError: strptime() argument 1 must be str, not float

In [13]:
tweets_df['created_at'] = tweets_df['created_at'].astype(str)
valid_tweets_df = tweets_df[tweets_df['created_at'].apply(is_valid_datetime)]

# Apply the rounding function to valid rows
valid_tweets_df['rounded_time'] = valid_tweets_df['created_at'].apply(round_to_nearest_hour)

# Create a new table with the relevant columns
rounded_time_df = valid_tweets_df[['created_at', 'rounded_time']]

rounded_time_df

                 created_at      rounded_time
0       01/31/2023-00:26:52  01/31/2023-00:00
1       01/31/2023-00:30:53  01/31/2023-01:00
2       01/31/2023-00:31:53  01/31/2023-01:00
3       01/31/2023-00:32:23  01/31/2023-01:00
4       01/31/2023-00:35:54  01/31/2023-01:00
...                     ...               ...
285412  06/06/2023-02:00:17  06/06/2023-02:00
285413  06/06/2023-02:00:47  06/06/2023-02:00
285414  06/06/2023-02:01:17  06/06/2023-02:00
285415  06/06/2023-02:01:48  06/06/2023-02:00
285416  06/06/2023-02:02:18  06/06/2023-02:00

[285010 rows x 2 columns]